.App {
  /* background-color: #121413; */
  text-align: center;
  display: flex;
  min-height:110vh;
  align-items: center;
  justify-content: center;
  color: rgb(32, 4, 4);
  background-image: linear-gradient(79deg,#7439db,#C66FBC 48%,#f7944d);
  margin-top: -70px;
  font-size:100%;
}

.auth-form-container,.login-form,.register-form{
  display: flex;
  flex-direction: column;
}

  .auth-form-container{
    padding: 5rem;
    border: 1px solid rgb(226, 10, 10);
    border-radius: 10px;
    margin: 0.5rem;
    height: auto;
  }


label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}
.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}






/* Style the form container */
.form-container {
  background-color: #f2f2f2;
  padding: 10px;
  /* height: 80%; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* margin-top: 4px; */
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  justify-content: start;
  height: auto;
}

/* Style the form fields */
.form-field {
  margin-bottom: 20px;
  flex-direction: row;
}

.form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-field select{
  width: 200px;
  align-self: auto;
  
}
.form-field label{
  text-align: left;
  text-indent: 0%;
  
}
/* .form-div-food{
  height: 150px;
  width: 800px;
  background-color: powderblue;
} */
.form-field form-div-food{
  height: 100px;
  width: 500px;
  background-color: powderblue;
}

.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.form-field textarea {
  height: 100px;
}

/* Style the submit button */
.form-submit {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #3e8e41;
}
.table-show{
  border: 1px solid black;
  border: 2px saddlebrown;
  width: 100%;
  /* border-color: black; */
  border-radius:0cqb;
  /* height:10pc;
  width: 20pc; */
}
.table-row1{
  border: 1px solid black;
  border-bottom:1px solid black;
  width: 100px;
  /* height:5pc; */
}
.table-row{
  border-bottom:1px solid black;
  border: 1px solid black;
  /* height:5pc; */
}


/* Admin Layout designing code */
.layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Admin-header{
  background-color: #1A1918 ;
  height: 90px;
}
.layout-link{
  
  border: #C66FBC;
  border-radius: 100px;
  text-align: right;
  text-decoration: none;
  text-decoration-color: #f2f2f2;
  align-items:right;
  align-content: right;
  color: #f2f2f2;
}

.layout-para{
  text-align: left;
}
.Admin-table{
  margin-top: 30px;
  margin-left: 80%;
 
}







/* /////////////////////////////////////////////////////   -------   for media query  --------   /////////////////// */



.form-container{
  margin-top: 2rem;
  display: flex;
    height: 55%;
    width: 65%;
    background-color:#1b2430;
}
.form-container button{
  background-color: rgb(245, 240, 240);
  color: rgb(5, 0, 0);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  font-weight: bold;
  
}

.form-container label{
  color: white;
  
   
}
.form-container h2{
  color: white;
  font-weight: bold; 
}
.form-container h1{
  color: white;
  font-weight: bold; 
}
.form-container h3{
  color: white;
  font-weight: bold; 
}
.form-container h4{
  color: white;
  font-weight: bold; 
}
.form-container button:hover{
  background-color:rgb(88, 236, 88);
}
.form-container form-div-food{
  height: 100px;
  width: 500px;
  background-color: powderblue;
}

.form-extra{
  margin-top: 0rem;
  display: flex;
    
}

.form-image{
  
  width: 23%;
			height: 70%; 
  border: 1px solid;
  border-radius: 50%;
  align-items: center;
			justify-content: center;
			text-align: center;
  background-image: 
  url(
"F:\Disease Base Diet Plan\Source Code\d_b_d_p\src\Images\doctor-man-cartoon_18591-5973.avif");
background-size: cover;
}

.form-left{
  display: flex;
    flex: 1;
    background-color: #3e8e41;
    justify-content: left;
    align-items: center;
}
.form-mid{
  flex: 1;
  background-color: #7439db;  
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-rigt{
  flex: 1;
  background-color: red;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden; /* hides the overflowing parts of the image */
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* scales the image to cover the container while maintaining aspect ratio */
}


.form-box{
  
			width: 100%;
			height: 390px;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			font-size: 24px;
			border-radius: 10px;
      
			box-shadow: 2px 2px 5px gray;
}

.form-boxx{
  
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  
  box-shadow: 2px 2px 5px gray;
}


.form-box1{
  
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  
  box-shadow: 2px 2px 5px gray;
}
.Login-name{
  text-align: center;
  color:black;
}


.parent {
  display: flex;
  height:20%;
  width: 50%;
  background-color: #C66FBC;
  justify-content: space-between;
}

.child {
  background-color: #3e8e41;
  display: flex;
  width: 100%;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100px;
  width: 150px;
  margin: 10px;
}
.box1 {
  height: 100px;
  width: 300px;
  
  margin: 10px;
}
.box2 {
  height: 100px;
  width: 310px;
  
  margin: 10px;
}
.boxforingdet {
  height: 100px;
  width: 90%;
  
  margin: 10px;
}
.boxnuguter {
  height: 100px;
  width: 300px;
  
  margin: 10px;
}
.userdis {
  height:300px;
  width: 300px;
  margin: 10px;
}

.active {
  background-color: green;
  color: white;
}

.inactive {
  background-color: red;
  color: white;
}
.activate-button{
  background-color: gray;
}


.alert {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}




/* table of Ingredient details */




/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f2f2f2;
  /* font-weight: bold; */
}


button {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the button text */
  border: none; /* Remove border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

button:hover {
  background-color: #45a049; /* Darker green background color on hover */
}




@media screen and (max-width:769px) {
  .form-container{
     margin-top: 0px; 
    display: flex;
      height:80%;
      width:100%;
      background-color:white;
  }

  .form-container button{
    background-color: rgb(245, 240, 240);
    color: rgb(5, 0, 0);
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form-container label {
    color: white;
    font-size: 16px; /* Adjust the size as needed */
  }
  .form-container h2{
    color: white;
    font-weight: bold; 
    font-size: 16px;
    font-weight: normal;
  }
  .form-container h1{
    color: white;
    font-weight: bold; 
    font-size: 16px;
    font-weight: normal;
  }
  .form-container h3{
    color: white;
    font-weight: bold; 
    font-size: 16px;
    font-weight: normal;
  }
  .form-container h4{
    color: white;
    font-weight: bold; 
    font-size: 16px;
    font-weight: normal;
  }
  .form-container button:hover{
    background-color:rgb(88, 236, 88);
  }
  .form-container form-div-food{
    height: 100px;
    width: 500px;
    background-color: powderblue;
  }

  .form-extra{
    margin-top: 0rem;
    display: flex;
  }
  
  .form-image{
    
    width: 50%;
        height: 50%; 
    border: 1px solid;
    border-radius: 50%;
    align-items: center;
        justify-content: center;
        text-align: center;
    background-image: 
    url(
  "F:\Disease Base Diet Plan\Source Code\d_b_d_p\src\Images\doctor-man-cartoon_18591-5973.avif");
  background-size: cover;
  }




  
.form-left{
  display: flex;
    flex: 1;
    background-color: #3e8e41;
    justify-content: left;
    align-items: center;
}
.form-mid{
  flex: 1;
  background-color: #7439db;  
  /* border: 1px solid; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.form-rigt{
  flex: 1;
  background-color: red;
    /* border: 1px solid; */
    justify-content: center;
    align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 25%;
  overflow: hidden; /* hides the overflowing parts of the image */
}

.circle img {
  width: 30%;
  height: 30%;
  object-fit: cover; /* scales the image to cover the container while maintaining aspect ratio */
}


.form-box{
  
  width: 100%;
  height: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  
  box-shadow: 2px 2px 5px gray;
}


.form-boxx{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray;
  padding: 0px;
}


.form-box1{

width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-size: 24px;
border-radius: 10px;

box-shadow: 2px 2px 5px gray;
}

.Login-name{
  text-align: center;
  color:black;
}


.parent {
  display: flex;
  height:20%;
  width: 50%;
  background-color: #C66FBC;
  justify-content: space-between;
}

.child {
  background-color: #3e8e41;
  display: flex;
  width: 100%;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 100px;
  width: 150px;
  display:block;
  margin: 10px;
}
.box1 {
  height: 25%;
  width: 100%;
  
  margin: 10px;
}
.box2 {
  height: 100%;
  width: 100%;
  
  margin: 10px;
}
.boxforingdet {
  height: 100px;
  width: 90%;
  
  margin: 10px;
}
.boxnuguter {
  height: 100px;
  width: 300px;
  
  margin: 10px;
}



.userdis {
  height:300px;
  width: 300px;
  margin: 10px;
}

.active {
  background-color: green;
  color: white;
}

.inactive {
  background-color: red;
  color: white;
}
.activate-button{
  background-color: gray;
}


.alert {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.alert.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert.warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.table-of-ing-res
{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.1px;
}

table th, table td {
  padding: 0px;
  text-align: left;
  border-bottom: 0.5px solid #ddd;
  width: 20%;
  height: 50px;
}

table th {
  background-color: #f2f2f2;
  width: 20%;
  height: 50px;
}










/* .sug-plan-doc-tabl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box2 {
  width: 100%;
  margin-bottom: 10px;
}

.box2 select {
  width: 100%;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.box2 h4 {
  margin-top: 0;
} */

/* .new-th-name
{
  width: 10%;
} */

/* table th:nth-child(1), td:nth-child(1) {
  width: 30%;
} */

/* 
table th:nth-child(1),
table td:nth-child(1) {
  width: 30%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 10%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 30%;
} */





button {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 0.1px 0.1px; /* Padding around the button text */
  border: none; /* Remove border */
  border-radius: 1px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

button:hover {
  background-color: #45a049; /* Darker green background color on hover */
}


.details-button
{
  height: 45px;
  width: 45px;
  text-align: center;
  cursor: pointer;
  padding: 0.1px 0.1px;
}

.select-option {
  width: 150px !important; /* Adjust the width as needed */
}

.select-option option {
  max-width: 150px !important; /* Limit the width of dropdown menu options */
}
.input-quantity
{
height: 30px !important;
}

.btn-res-ing {
  height: 27px;
  /* width: 20px; */
  float: right;
  position: relative;
  width: 10px;
}

.btn-res-ing span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inpt-edit-med
{
  height: 30px;
  max-width: 100px;
}
.inpt-edit-qunt
{
  height: 30px;
  max-width: 60px;
}

.btn-res-lft
{
  height: 27px;
  /* width: 20px; */
  float: right;
  position: relative;
}
.btn-res-lft span
{
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* 
.table-for-view {
  display: block;
  overflow-x: auto;
}

.table-for-view thead,
.table-for-view tbody,
.table-for-view tr,
.table-for-view th,
.table-for-view td {
  display: block;
}

.table-for-view thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;

}

.table-for-view tr {
  border: 1px solid #ccc;
  color: white;
}

.table-for-view td {
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  white-space: normal;
  text-align: left;
}

.table-for-view td:before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  content: attr(data-label);
  font-weight: bold;
}

.table-for-view td:last-child {
  border-bottom: 0;
}
 */




 /* .table-for-view thead {
  display: none;
} */
/* .table-for-view thead tr{
  display: block;
  margin-bottom: 20px;
  background: black;
  color: white;
  font-weight: bold;
} */
/* .table-for-view tbody th{
  display: flex;
  align-items: center;
  font-size: 14px;
}
.table-for-view tbody tr {
  display: block;
  margin-bottom: 20px;
  background: black;
  color: white;
  font-weight: bold;
}

.table-for-view td {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.table-for-view td:before {
  content: attr(data-label);
  flex-basis: 50%;
  font-weight: bold;
}

.table-for-view .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.table-for-view img {
  max-width: 50px;
  max-height: 50px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.table-for-view .box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.table-for-view button {
  padding: 5px 10px;
  font-size: 14px;
} */

.table-for-view thead {
  display: none;
}

.table-for-view tbody td {
  display: block;
  width: 100%;
  text-align: center;
}

.table-for-view tbody td:before {
  content: attr(data-label);
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.table-for-view .circle {
  text-align: center;
}

.table-for-view .box {
  display: flex;
  justify-content: center;
}

.table-for-view button {
  padding: 8px 12px;
}


.table-for-view {
  width: 100%;
  border-collapse: collapse;
}

.table-for-view th,
.table-for-view td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-for-view thead tr {
  font-weight: bold;
  font-size: 24px;
}

.table-for-view tbody tr {
  background: black;
  color: white;
  font-weight: bold;
}



.table-for-view img {
  width: 100%; 
  height: 30%;
  /* height: auto;  */
  /* object-fit: cover; */
}

.table-for-view .box {
  display: flex;
  width: 100%; 
  height: 30%;
  justify-content: center;
  align-items: center;
}

.table-for-view button {
  /* padding: 8px 12px; */
  width: 100%;
  height: 100%;
}

.custom-btn-size {
  height: 50px;
  width: 100px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.enlarged-image {
  width: 100%;
  max-width: 800px; /* Adjust the maximum width as per your requirement */
  height: auto;
  margin: 0 auto;
}

.circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden; /* hides the overflowing parts of the image */
}


.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* scales the image to cover the container while maintaining aspect ratio */
}

}



.table-for-view {
  width: 100%;
  border-collapse: collapse;
}

.table-for-view th,
.table-for-view td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-for-view thead tr {
  font-weight: bold;
  font-size: 24px;
}

.table-for-view tbody tr {
  background: black;
  color: white;
  font-weight: bold;
}

.table-for-view img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


@media (max-width: 480px) {
  .food-name {
    font-size: 14px;
  }
  .quantity-input {
    font-size: 14px;
    width: 100px;
    height: 20px;
  }
  .day-input {
    font-size: 14px;
    width: 30px;
    height: 20px;
  }
  .cat-input {
    font-size: 14px;
    width: 100px;
    height: 20px;
  }
  .dropdown {
    padding: 5px;
    
  }
  
}


@media (max-width: 767px) {
  .dropdown {
    width: 30%;
  }
  .dropdown1 {
    width: 30%;
  }
  .dropdown3 {
    width: 25%;
  }
  .custom-width {
    width: 250px; /* Adjust the width value as needed */
  }
  
}
